<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Comments</title>
</head>
<body>
    <% for (comment of comments){ %>
        <% if (comment.active) { %>
            <h1> Your Searched Comment:</h1>
            <div style="padding: 10vw;">
            <h2>You: <%= comment.username %> said: </h2>
            <h2>"<%= comment.comment %>"</h2>
            <button type="button" id="editButton">Edit This Comment</button>
            <button type="button" id="deleteButton">Delete This Comment</button>
            </div>
            <% } %>
        <% } %>

    <h1>All Comments</h1>      
    <% for (comment of comments){ %>
        <h3><%= comment.username %> said:</h3>
        <p>"<%= comment.comment %>"</p>
        <% } %>
    <form action="/" method="get">
        <button type="submit">Go home</button>
    </form>


<script src="/JS/myApp.js"></script>
</body>
</html>